header {
width: 100%;
padding: 20px 8%;

}


.navbar {
    width: 100%;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_lista {
display: flex;
list-style: none;
gap: 80px;
text-transform: uppercase;

}
